.header{
  height: 80px;
  width: 990px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header_left {
  font-size: 20px;
  flex: 40%;
  font-size: 30px;
  margin-top: 25px;
}


.header_right{
  flex: 60%;
  margin-left: 150px;
}