#nav li {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
  
  .active,
  .btn:hover {
    border-bottom: green solid 3px;
   
   
  }