.contact_info_body_form{
    margin-left: 20px;
  }
  
  
  .col-10 img{
    width: 15px;
    height: 15px;
  }
  
  .col-10{
    float: left;
    width: 8%;
    background-color:#F5F5F5 ;
    padding: 10px;
  }
  
  .col-90{
    float: left;
    width: 92%;
    
  }
  
  .col-message{
    float: left;
    width: 8%;
    background-color:#F5F5F5;
    padding: 10px 10px 61.5px 10px;
  }
  
  .col-message img{
    width: 15px;
    height: 15px;
  }
  
  .row{
    
    padding: 40px;
  
  }
  
  .col-90 input[type=text] {
    padding: 11.5px;
    width: 330px;
    border: none;
    border-bottom: 2px solid #D8D8D8;
  }
  
  .col-90 textarea{
    border: none;
    width: 330px;
    border-bottom: 2px solid #D8D8D8;
    padding: 30px;
    margin-bottom: 60px;
  }
  
  .row input[type=submit]{
    margin-top: 30px;
    padding: 10px;
    background-color: #008f4c;
    color: white;
    border-color: white;
  }